<div class="">
  <p class="fs-2 fw-bold text-uppercase text-primary">Leave Requests</p>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="user_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="sort by name"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.user_Name}} </td>
      </ng-container>
      <ng-container matColumnDef="user_Department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="sort by user_Department"> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.user_Department}} </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.startDate | date:'yyyy-MM-dd' }} </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.endDate | date:'yyyy-MM-dd' }} </td>
      </ng-container>
      <ng-container matColumnDef="totalDays">
        <th mat-header-cell *matHeaderCellDef> Total Days </th>
        <td mat-cell *matCellDef="let element"> {{element.totalDays}} </td>
      </ng-container>
      <ng-container matColumnDef="leave_Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.leave_Type}} </td>
      </ng-container>
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef> Reason </th>
        <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="sort by status"> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <div class=" d-flex">
            <div class="" *ngIf="element.status != 'Approved' && element.status == 'Pending'">
              <button class="btn btn-success me-2" (click)="approveLeave(element.id)" style="color: #ffffff">
                Approve
              </button>
            </div>
            <div class="" *ngIf="element.status != 'Pending'">
              <button class="btn btn-primary me-2" style="color: #ffffff"
                (click)="editBleance(element.totalDays, element.user_Name, element.id)">
                Edit
              </button>
            </div>
            <div class="" *ngIf="element.status != 'Rejected'">
              <button class="btn btn-danger" (click)="rejectLeave(element.id)">
                Reject
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>