<nav class="navbar navbar-expand-lg px-3 px-lg-4">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <div class="logoContainer ms-2 ms-sm-3 me-2">
        <img
          src="infinnium_white.svg"
          alt="infi_logo"
          height="65px"
          width="130px"
          class="companyLogo img-fluid"
        />
      </div>
      <span class="divider d-none d-sm-block"></span>
      <a class="navbar-brand ms-2">LeaveZ</a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-lg-3">
        <li class="nav-item me-3" *ngIf="empOrNot() == false">
          <a
            class="nav-link position-relative"
            routerLink="/admin/dashboard"
            routerLinkActive="activeLink"
            [routerLinkActiveOptions]="{ exact: true }"
            >Admin Dashboard<span
              class="position-absolute top-50 start-90 translate-middle badge rounded-pill"
              style="background-color: #ff4444"
              *ngIf="pendingRequestsCount > 0"
            >
              {{ pendingRequestsCount }}
            </span></a
          >
        </li>
        <li class="nav-item me-3" *ngIf="empOrNot() == false">
          <a
            class="nav-link"
            routerLink="/admin/addUser"
            routerLinkActive="activeLink"
            [routerLinkActiveOptions]="{ exact: true }"
            >Users</a
          >
        </li>
        <li class="nav-item me-3" *ngIf="empOrNot() == false">
          <a
            class="nav-link"
            routerLink="/admin/leaves"
            routerLinkActive="activeLink"
            [routerLinkActiveOptions]="{ exact: true }"
            >Leaves</a
          >
        </li>
        <li class="nav-item me-3" *ngIf="empOrNot()">
          <a
            class="nav-link"
            routerLink="/dashboard"
            routerLinkActive="activeLink"
            [routerLinkActiveOptions]="{ exact: true }"
            >Dashboard</a
          >
        </li>
        <li class="nav-item me-3" *ngIf="empOrNot()">
          <a
            class="nav-link"
            routerLink="/leaveRequest"
            routerLinkActive="activeLink"
            [routerLinkActiveOptions]="{ exact: true }"
            >Request Leave</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="clearLocalStorage()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
