<div class="container">
    <p class="fs-2 fw-bold text-uppercase text-primary">Leave Details</p>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef> Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
            </ng-container>
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef> End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
            </ng-container>
            <ng-container matColumnDef="leaveType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by leaveType"> Leave type </th>
                <td mat-cell *matCellDef="let element"> {{element.leaveType}} </td>
            </ng-container>
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef> Reason </th>
                <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status 
                    <!-- <input matInput (keyup)="applyFilter($event, 'status')" placeholder="Filter"> -->
                </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <div class=" d-flex">
                        <div class="" *ngIf="element.status == 'Rejected'">
                            <button class="btn btn-primary me-2" style="color: #ffffff"
                              (click)="editLeave(element)">
                              View
                            </button>
                        </div>
                        <div class="" *ngIf="element.status != 'Rejected'">
                            <button class="btn btn-success me-2" style="color: #ffffff"
                              (click)="editLeave(element)">
                              Edit
                            </button>
                          <button class="btn btn-danger" (click)="deleteLeave(element)">
                            Retrieve
                          </button>
                        </div>
                      </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>