.container1 {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    // border-radius: 10px;
    height: 90vh;
    // overflow-y: auto;
    // overflow-x: hidden;
  }

  .container1::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
}
.title-container {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center; 
  gap: 10px; 
}

.title-text {
  margin-left: 10rem;
}
.buttons {
  justify-self: end;
}
.fa-rotate {
  font-size: larger;
}
.demo-row-is-hovered {
  background-color: rgba(0, 0, 255, 0.1);
}
.add-user-btn.mat-mdc-fab.mat-mdc-fab-extended {
  padding: 8px 6px !important; 
  min-width: auto !important; 
}