<app-leavebalance></app-leavebalance>

<div class="main-section mt-1 d-flex">
    <div class="content-display">
        <div class="d-flex gap-1">
            <div class="calendar card shadow p-2">
                <app-calendar></app-calendar>
            </div>
            <div class="pie-chart card shadow p-2">
                <app-piechart></app-piechart>
            </div>
        </div>
        <div class="LeaveHistory">
            <app-leavehistory></app-leavehistory>
        </div>
    </div>
    <div class="vertical-container">
        <div class="employee-list  shadow-md p-1">
            <app-employeelist></app-employeelist>
        </div>
        <div class="UpcomingHolidays  shadow-md p-1">
            <app-upcomingholidays></app-upcomingholidays>
        </div>
    </div>
</div>